<style> 
input {
  width: 50%;
  padding: 10px;
}
</style>

<body style="background-color:powderblue;">

  <div  style="text-align:center;font-family:Brush Script MT;font-size:100px;color:white;text-shadow:2px 2px #000000;">
    <h1> Hello There!</h1>
  </div>

  <div style="text-align:center;font-family:Brush Script MT;font-size:40px;color:white;text-shadow:2px 2px #000000;">
    <h2> What's your name? </h2>
  </div>

    <form style="text-align:center;" action="/name" method="post">
      <input type="text" name=name>
    </form>

  <div style="text-align:center;font-family:Brush Script MT;font-size:40px;color:white;text-shadow:2px 2px #000000;">
    <h2> When's your birthday? </h2>
  </div>





</body>